<header>
  <div class="hamburger-wrapper">
    <div class="burger-wrapper" (click)="toggleDropdown()">
      <div #hamburger class="hamburger" [ngClass]="{ 'is-active': isDropdownVisible }"></div>
    </div>
  </div>
  <nav>
    <ng-container *ngFor="let item of navItems">
      <a
        (click)="item.targetId ? navigateTo(item.targetId) : null"
        [routerLink]="item.route || null"
        (mouseenter)="hovered = item.labelKey"
        (mouseleave)="hovered = ''">
        {{ item.labelKey | translate }}
      </a>
    </ng-container>
  </nav>
</header>
<div #dropdown class="mobil-dropdown" [ngClass]="{ 'is-visible': isDropdownVisible }">
  <ng-container *ngFor="let item of navItems">
    <a
      (click)="item.targetId ? navigateTo(item.targetId) : null"
      [routerLink]="item.route || null"
      (mouseenter)="hovered = item.labelKey"
      (mouseleave)="hovered = ''">
      {{ item.labelKey | translate }}
    </a>
  </ng-container>
</div>