header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid var(--color-border);
    z-index: 2;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid var(--color-border);
    border-radius: 24px;
    gap: 20px;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: var(--color-text);
        transition: color 0.3s ease;
            font: {
            size: 16px;
            weight: 400;
            }
            text-decoration: none;
            cursor: pointer;
            &:hover {
            color: var(--color-text-hover);
        }
    }
}

.mobil-dropdown {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 65px;
    background-color: var(--color-background);
    padding: .5rem;
    border-bottom: 1px solid var(--color-border);
    gap: 8px;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 1;
    transition: 
        transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1),
        opacity 0.3s ease-out;
    &.is-visible {
        transform: translateY(0);
        opacity: 1;
    }
    a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--color-text);
        font: {
        size: 16px;
        weight: 400;
        }
        padding: 16px;
        text-decoration: none;
        border: 1px solid var(--color-border);
        border-radius: 12px;
        transform: scale(0.8);
        opacity: 0;
        transition: 
        transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity 0.3s ease;
        @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            transition-delay: 0.1s * $i + 0.2s;
        }
        }
    }
    &.is-visible a {
        transform: scale(1);
        opacity: 1;
    }
}

.hamburger-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.burger-wrapper {
    cursor: pointer;
    width: 30px;
    height: 24px;
}

.hamburger {
    background: var(--color-text);
    width: 30px;
    height: 3px;
    position: relative;
    transition: background 10ms 300ms ease;
    transform: translateY(12px);
    &:before,
    &:after {
        content: '';
        position: absolute;
        background: var(--color-text);
        width: 30px;
        height: 3px;
        transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    }
    &:before { top: -9px; }
    &:after { top: 9px; }
    &.is-active {
        background: transparent;
        &:before,
        &:after {
        top: 0;
        transition: top 300ms 50ms ease, transform 300ms 350ms ease;
        }
        &:before { transform: rotate(45deg); }
        &:after { transform: rotate(-45deg); }
    }
}

@media (max-width: 768px) {
    header {
        position: absolute;
        justify-content: flex-end;
        .hamburger-wrapper {
            display: flex;
        }
    }
    .mobil-dropdown {
        display: flex;
    }
    nav {
        display: none !important;
    }
    .menu {
        display: block !important;
    }
    h1 {
        font-size: 48px !important;
    }
    span {
        font-size: 10px !important;
    }
    .subtitel span {
        font-size: 16px !important;
    }
}