<main>
    <div class="project-wrapper">
        <h1>My Projects</h1>
        <div class="separate"></div>
        <div class="project-wrapper">
            <div class="card-wrapper"
                *ngFor="let project of projects; let i = index"
                >
                <div class="project-info">
                    <h2>
                        {{ project.title }}
                        <img src="{{project.source}}">
                    </h2>
                    <div class="title">
                        <span>Languages</span>
                        <div class="tech-mobil">
                            <span *ngFor="let tech of project.technologies" class="tech-item">
                                <span class="dot" [ngStyle]="{ 'background-color': technologiesColors[tech.name] }"></span>
                                <span class="tech-name">{{ tech.name }}</span>
                                <span class="tech-percent">{{ tech.percent }}%</span>
                            </span>
                        </div>
                        <span class="progress-bar">
                            <span
                            *ngFor="let tech of project.technologies"
                            [ngStyle]="{
                            'background-color': technologiesColors[tech.name],
                            'width.%': tech.percent
                            }"
                            class="bar-segment"
                            ></span>
                        </span>
                    </div>
                    <div class="info-section">
                        <span>{{ project.desc }}</span>
                        <div class="tech">
                            <span *ngFor="let tech of project.technologies" class="tech-item">
                                <span class="tech-percent">{{ tech.percent }}%</span>
                                <span class="tech-name">{{ tech.name }}</span>
                                <span class="dot" [ngStyle]="{ 'background-color': technologiesColors[tech.name] }"></span>
                            </span>
                        </div>
                    </div>
                    <div class="src">
                        <img src="{{project.source}}">
                    </div>
                </div>
                <div class="project-card">
                    <div class="img-wrapper">
                        <img [src]="project.img" />
                    </div>
                </div>
            </div>
            <div class="open">{{ openText }}</div>
        </div>
    </div>
</main>