<main> 
  <h2>{{ 'privacy.title' | translate }}</h2>

  <h3>{{ 'privacy.section1.title' | translate }}</h3>
  <p>{{ 'privacy.section1.text1' | translate }}</p>

  <h4>{{ 'privacy.section1.sub1.title' | translate }}</h4>
  <p>{{ 'privacy.section1.sub1.text1' | translate }}</p>
  <p>{{ 'privacy.section1.sub1.text2' | translate }}</p>

  <h4>{{ 'privacy.section1.sub2.title' | translate }}</h4>
  <p>{{ 'privacy.section1.sub2.text1' | translate }}</p>

  <h3>{{ 'privacy.section2.title' | translate }}</h3>
  <p>
    {{ 'privacy.section2.text1' | translate }}<br>
    {{ 'privacy.section2.provider' | translate }}<br>
    {{ 'privacy.section2.address' | translate }}<br>
    <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank">
      {{ 'privacy.section2.linkText' | translate }}
    </a>
  </p>
  <p>{{ 'privacy.section2.text2' | translate }}</p>

  <h3>{{ 'privacy.section3.title' | translate }}</h3>
  <p>
    {{ 'privacy.section3.text1' | translate }}<br>
    {{ 'privacy.section3.name' | translate }}<br>
    {{ 'privacy.section3.street' | translate }}<br>
    {{ 'privacy.section3.city' | translate }}<br>
    {{ 'privacy.section3.emailLabel' | translate }}
    <a href="mailto:{{ 'privacy.section3.email' | translate }}">
      {{ 'privacy.section3.email' | translate }}
    </a>
  </p>

  <h3>{{ 'privacy.section4.title' | translate }}</h3>
  <p>{{ 'privacy.section4.text1' | translate }}</p>
  <p>{{ 'privacy.section4.text2' | translate }}</p>

  <h3>{{ 'privacy.section5.title' | translate }}</h3>
  <p>{{ 'privacy.section5.text1' | translate }}</p>
</main>

<app-language-toggle></app-language-toggle>