button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    background: var(--color-glas);
    font-size: 23px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
    &:hover {
        background: var(--color-glas-hover);
    }
}

.magnetic-button {
    color: #fff;
    border-radius: 48px;
    border: 1px solid var(--color-primary-2);
    background: transparent;
    padding: 1.5rem 3.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}