main {
  height: 100%;
  padding: 0 1.5rem;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}

#cursor-glow {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, #0ae448 0%, transparent 60%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: none;
  mix-blend-mode: overlay;
}

#iconCloudCanvas {
  position: relative;
  z-index: 1;
}

.tech-stack-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-card-background);
  border-radius: 16px;
  border: 1px solid var(--color-border);
  height: 100%;
  overflow: hidden;
}

.info {
  padding: 1.5rem 2rem;
  h1 {
    color: var(--color-primary-5);
    font-weight: 400;
  }
}

.canvas-wrapper {
  height: inherit;
}

@media (max-width: 1060px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .tech-stack-area {
    padding: unset;
    width: 100%;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0;
  }
  .tech-stack-area {
    padding: unset;
    width: 100%;
  }
  .info {
    padding: 10px 20px;
  }
}