<footer>
  <div class="footer-wrapper">
    <div class="container-wrapper">
      <div class="content">
        <h3>
          {{ 'footer.beforeColor' | translate }}
          <span style="color: var(--color-primary-4);">{{ 'footer.colored1' | translate }}</span>
          {{ 'footer.middle' | translate }}<br />
          <span style="color: var(--color-primary-3);">{{ 'footer.colored2' | translate }}</span>
          {{ 'footer.afterColor' | translate }}
        </h3>
        <div class="col">
          <h3 style="color: var(--color-primary-5);">{{ 'footer.explore' | translate }}</h3>
          <div class="text">
            <span (click)="navigateTo('home')">{{ 'footer.nav.home' | translate }}</span>
            <span (click)="navigateTo('about')">{{ 'footer.nav.about' | translate }}</span>
            <span (click)="navigateTo('contact')">{{ 'footer.nav.contact' | translate }}</span>
        </div>
        </div>
      </div>
      <div class="content">
        <div class="col">
          <h3 style="color: var(--color-primary-3);">{{ 'footer.follow' | translate }}</h3>
          <div class="text">
            <span *ngFor="let social of socialLinks" (click)="openExternal(social.url)">
              <img [src]="social.icon" [alt]="social.name" />
              {{ social.name }}
            </span>
          </div>
        </div>
        <div class="col">
          <div class="item" (click)="openProjects()">
            <div class="info">
              <span>{{ 'footer.projects.title' | translate }}</span>
              <p style="color: var(--color-primary-6);">
                {{ 'footer.projects.description' | translate }}
              </p>
            </div>
            <button>
              <img src="./assets/images/next.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footprint">
    <div class="impressum-wrapper">
      <p>Rahmi Esen ©2025</p>
      <div class="impressum">
        <a [routerLink]="['/legal-notice']">{{ 'footer.legal' | translate }}</a>
        <a [routerLink]="['/privacy-policy']">{{ 'footer.privacy' | translate }}</a>
      </div>
    </div>
    <p>{{ 'footer.location' | translate }}</p>
  </div>
</footer>