main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    gap: 25px;
    h2 {
        color: var(--color-primary-2);
    }
    p {
        text-align: center;
    }
    span {
        font-size: 16px;
        font-weight: 400;
    }
}

.back {
    position: absolute;
    height: 55px;
    width: 55px;
    top: 25px;
    right: 25px;
    img {
        height: 35px;
        transform: rotate(180deg);
    }
}

::ng-deep app-language-toggle button.toggle {
    position: relative !important;
    width: 100%;
    bottom: 0 !important;
    top: 25px !important;
}