<div class="feedback-container">
    <div class="card-wrapper">
        <div class="card"
            *ngFor="let card of cards; let i = index"
            [ngStyle]="getCardStyle(i)"
            [class.hovered]="hoverIndex === i"
            (mouseenter)="hoverIndex = i"
            (mouseleave)="hoverIndex = null">
            <p><strong>{{ card.title }}</strong></p>
            <p>{{ card.text }}</p>
            <div class="user">
            <p><strong>{{ card.userName }}</strong></p>
            <img [src]="card.userImage" alt="User" />
            </div>
        </div>
    </div>
    <div class="info-wrapper">
        <div class="card-numb">
            <span
                class="kdot"
                *ngFor="let card of cards; let i = index"
                [class.active]="getDotIndex(i) === activeCardIndex">
            </span>
        </div>
        <button class="next" (click)="nextCard()">
            <img src="./images/next.png">
        </button>
    </div>
</div>