h1 {
    font-size: 50px;
    font-weight: 400;
    width: 100%;
}

.separate {
    width: 100%;
    height: 2px;
    background-color: var(--color-border);
    margin-bottom: 2rem;

}

.reference-wrapper, .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.feedback-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0 1.5rem;
    overflow: hidden;
}

.card-wrapper {
    position: relative;
    top: 41px;
    width: 500px;
    height: 450px;
    perspective: 1000px;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 15px 35px;
    gap: 10px;
    border-radius: 28px;
    border: 1px solid var(--color-border);
    background: var(--color-glas);
    backdrop-filter: blur(5px);
    &.animate-out {
        z-index: 9999 !important;
        pointer-events: none;
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-border);
        object-fit: cover;
    }
}

.next {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.card-numb {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 125px;
    height: auto;
    padding: 6px 16px;
    border-radius: 28px;
    border: 1px solid var(--color-border);
    background: var(--color-glas);
}

.kdot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    &.active {
        background-color: var(--color-primary-1);
    }
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 1;
}

@media (max-width: 1060px) {
    .feedback-container {
        padding: 0;
    }
    .card-wrapper {
        position: relative;
        top: 60px;
        left: 25px;
        height: 380px;
        width: 70%;
    }
    .info-wrapper {
        margin-top: 45px;
        width: 95%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    .card-wrapper {
        width: 95%;
        height: 320px;
        left: 0;
        top: 41px;
    }
    .card {
        padding: 10px 20px;
        p {
            font-size: 14px;
        }
    }
    .card-numb {
        width: 100px;
        padding: 5px 10px;
    }
    .info-wrapper {
        width: 100%;
        margin-top: 75px;
    }
}