@use 'styles/variables' as *;
@use 'styles/typography';
@use 'styles/buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

app-about-me, 
app-my-projects, 
app-section-wrapper, 
app-contact, 
app-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-thumb {
    background: #a374ff;
    border-radius: 10px
}